{
    "auth-dev": {
        "authServerLink":"http://192.168.0.7:8000",
        "authServerApi" : "http://192.168.0.7:8000",
        "appLink":"http://192.168.0.7:4000"
    },
    "auth-stage": {
        "authServerLink":"https://192.168.0.7/auth",
        "authServerApi" : "http://auth.myapps.localhost:8000",
        "appLink":"https://192.168.0.7/pdf"
    },
    "auth-prod": {
        "authServerLink":"https://107.210.220.177/auth",
        "authServerApi" : "http://auth.myapps.localhost:8000",
        "appLink":"https://107.210.220.177/pdf"
    },
    "ignoredRoutes": [
            "/login",
            "/register",
            "/logout",
            "/favicon.ico",
            "/satic",
            "/callback",
            "/sessioncheck"
        ]
    
}